Flask==3.0.0
flask-cors==4.0.0
flask-compress==1.14
SQLAlchemy==2.0.44
psycopg2-binary==2.9.11
python-dotenv==1.0.0
requests==2.31.0
redis==5.0.1
pytz==2023.3.post1
gunicorn==21.2.0

# Delete or comment this line after you successfully migrated database to Supabase
# geopandas
# GeoAlchemy2